@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .greeting-message {
        font-size: 24px;
        color: #007bff;
        text-align: center;
        margin-top: 50px;
    }
</style>
<h1 class="greeting-message">Chào bạn, chúc 1 ngày làm việc vui vẻ!!Đừng quên chào quan khách sau khi họ đặt vé nhé😍😘🤗!!!</h1>