@model Asp.netWebDatVe.Models.BenXeDen

@{
    ViewData["Title"] = "Chỉnh sửa bến xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa bến xe</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="MaBenXeDen" />

    <div class="form-group">
        <label asp-for="TenBenXeDen" class="control-label"></label>
        <input asp-for="TenBenXeDen" class="form-control" required />
        <span asp-validation-for="TenBenXeDen" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiaChi" class="control-label"></label>
        <input asp-for="DiaChi" class="form-control" required />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sdt" class="control-label"></label>
        <input asp-for="Sdt" class="form-control" type="tel" />
        <span asp-validation-for="Sdt" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
