.pdt-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0,0,0,0.05);
}

.pdt-title {
    font-weight: bold;
    color: #F57C00;
}

.pdt-table th {
    background-color: #FFF3E0;
    color: #BF360C;
    font-weight: bold;
}

.pdt-table td {
    vertical-align: middle;
}

.pdt-no-data {
    font-style: italic;
    font-size: 16px;
    color: #888;
}
